/FInalProject/Intermediate/CachedAssetRegistry.bin
/FInalProject/Saved/AutoScreenshot.png
/FInalProject/Saved/Logs/*.log
/FInalProject/Saved/Autosaves/PackageRestoreData.json
/FInalProject/Saved/Config/Windows/*.ini
